


body {
    height: 100%;
    width: 100%;
    background-color:green;
    background-image:
      radial-gradient(
        circle at top right,
        #053003b2,
        black  90%
      );
      Font-color:white;
  }
  .main{
      color: white;
      text-align: center;
      height: adjust;
      text-size-adjust: 100px;
      font-size: 88px;
  }
  .href{
      font-color:white;
  }

  